.bg_color {
    background-color: #F5F5F5;
    padding:30px;
    border-radius: 5px;
    
}

.blocksatz {
    text-align: justify;
    width: 90%;
}

.blue_highlight {
    color: #007bff;
}

.info_box {
    border: 1px solid black;
    padding: 5px;
}

/* img:hover {
    transform: scale(2.0);
    left: 50%;
    z-index: 1000 !important;
} */

.heading_accordion {
    font-size: 1.4em !important;
}