<div class="container">
  <!--First card-->
  <div class="row">
    <div class='col-md-12'>
      <div class='text-center'>
        <div class='container'>
          <p><img src="assets/logo.png" width="200px" /></p>
          Hightlighter ist ein visueller Assitent für lange Rechtstexte. Kommt es aufs Detail an?
          <strong>Ja tut es!</strong>
          <br />
          <br />
          <p><img src="assets/highlighter_copy.png" width="70%" /></p>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Highlighter in Aktion</h5>
      <p class="card-text">Es ist möglich Beispieldaten von <a href="www.bergzeit.at/agbs" target="_blank">
          Bergzeit</a> zu verwenden um die Visualisierung bzw. das Highlighten in Aktion zu sehen. Es wird hier nur
        ein rechtlicher Text verarbeitet bzw. verwendet, weshalb keine "compare" Funktionalität vorhanden ist.</p>
      <p>Um die Beispieldaten zu laden und zur Darstellung zu gelangen, klicke einfach auf den Button!</p>
      <a routerLink="/viz" class="btn btn-primary" (click)="useSampleData()">Beispieldaten laden</a>
    </div>
    <!--<div class="card-footer text-muted">
        Die <strong>Webextension</strong> ist verfügbar unter: ...
      </div>-->
  </div>

  <br />
  <br />

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">
        Wie funktioniert HighLighter?
      </h4>
      <br />
      <br />
    </div>
  </div>

  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span class="heading_accordion">Analysiere Rechtstexte</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-md-6">
            <p><img src="assets/extention.jpg" width="500px" /></p>
          </div>

          <div class="col-md-6">
            <p class="blocksatz">1) Um das Tool zu nutzen musst du dir eine Webextension heruntergeladen und
              installieren.
              Das Highlighter Tool kann derzeit im <strong class="blue_highlight">Google Chrome</strong> verwendet
              werden.
              <br /> <br /> Lade dir <a href="https://www.dropbox.com/s/xwngtk4o3zoxvui/Highlighter-0.0.0-chrome.zip?raw=1">hier</a>
              die Web-Extention herunter.</p>
            <p class="info_box blocksatz">Gib folgenden Befehl in deine Adresszeile des Google Chromes ein: <strong
                class="blue_highlight">chrome://extensions/</strong>.
              Du gelangst auf die Erweiterungen-Seite.</p>
            <p class="blocksatz">Wechsle in den Entwicklermode und ziehe nun die Zip-Datei, die du dir heruntergeladen
              hast in den Bereich.
              Das Symbol der Web-Extention erscheint in deiner Erweiterungen-Leiste neben dem Adressfeld. <br />
              Nun kannst du das Tool nutzen und Rechtstexte damit analysieren. </p>
          </div>
        </div>

        <br />
        <br />

        <div class="row">
          <div class="col-md-6">
            <p><img src="assets/highlighter_copy.png" width="500px" /></p>
          </div>
          <div class="col-md-6">
            <p class="blocksatz">
              2) Navigiere zu den AGBs des Onlineshops. Markiere den den Rechtstext, den du mit HighLighter analysieren
              möchtest. Dann klicke auf den HighLighter Button in der Browser Leiste.
              Das Tool kopiert automatisch den Text in das Tool. Du brauchst nichts dazu tun.
            </p>
          </div>
        </div>

        <br />
        <br />

        <div class="row">
          <div class="col-md-6 text-center">
            <p><img src="assets/criteria.png" height="350px" /></p>
          </div>
          <div class="col-md-6">
            <p class="blocksatz">
              3) Treffe nun die Kriterienauswahl. Du kannst auch eigene Kriterien hinzufügen indem du auf den kleinen
              Button klickst.
              Anhand dieser Kriterien wird dein Text durchsucht und im nächsten Schritt visuell hervorgehoben.
            </p>
          </div>
        </div>

        <br />
        <br />

        <div class="row">
          <div class="col-md-6 text-center">
            <p><img src="assets/check_agbs.png" height="350px" /></p>
          </div>
          <div class="col-md-6">
            <p class="blocksatz">
              4) Checke deine AGBs indem Du auf den Button klickst.
              Du wirst jetzt auf der Webseite auf einen eigenen Bereich geleitet, wo du deine AGB analysieren kannst.
            </p>
          </div>
        </div>
      </ng-template>
    </ngb-panel>

    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span class="heading_accordion">Vergleiche zwei Rechtstexte miteinander</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <p><img src="assets/placeholder_highlighter.png" width="500px" /></p>
            </div>

            <div class="col-md-6">
              <p class="blocksatz">1) Zuerst kannst du den ersten Rechtstext laden,
                indem du ihn markierst und auf den HighLighter Button klickst.
                Er wird dann unter dann in der Browser Extensions zwischengespeichert.
                Du kannst die Kriterienauswahl schließen.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <p><img src="assets/placeholder_highlighter.png" width="500px" /></p>
            </div>
            <div class="col-md-6">
              <p class="blocksatz">
                2) Gehe zum anderen Onlineshops,
                markiere den zweiten Rechtstext und klicke auf den HighLighter Button um die Extention zu öffnen.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 text-center">
              <p><img src="assets/compare.png" width="350px" /></p>
            </div>
            <div class="col-md-6">
              <p class="blocksatz">
                3) Wähle jetzt die Vergleichsfunktion aus indem du die Checkbox unterhalb des Textfelds aktivierst. </p>
              <p>4) Du kannst den ersten Rechtstext aus den
                bereits geladene AGBs auswählen.
                Du kannst auch einen AGB-Text analysieren,
                indem Du die AGBs manuell aus dem Onlineshop in das
                Textfeld hinein kopierst und auch den Link des Onlineshops einfügst.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 text-center">
              <p><img src="assets/compare_criteria_selection.png" width="350px" /></p>
            </div>
            <div class="col-md-6">
              <p class="blocksatz">
                5) Treffe nun wieder deine Kriterienauswahl.
              </p>
              <p>6) Vergleich nun deine AGBs, indem Du auf den Button klickst.
                Du wirst wieder auf eine Webseite in einen eigenen Bereiche geleitet,
                wo du die beiden AGB-Texte miteinander vergleichen kannst.</p>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <div class="spaceCreator"></div>
</div>
