<div class="container">
  <h2>Impressum &amp; Datenschutz</h2>
  <p>Impressum und Offenlegung gemäß §§ 24, 25 Mediengesetz iVm § 5 E-Commerce-Gesetz für Online-Medien der
    Fachhochschule St. Pölten GmbH; Hinweis gemäß § 14 Unternehmensgesetzbuch</p>
  <h3>Medieninhaberin und Herausgeberin</h3>
  <p>Fachhochschule St. Pölten GmbH</p>
  <h3>Firmensitz und Geschäftsanschrift</h3>
  <p>3100 St. Pölten, Matthias Corvinus – Straße 15<br>Firmenbuch LG St. Pölten, FN 146616m<br>UID ATU 53208201<br>DVR:
    1028669F</p>
  <h3>Vertretungsbefugte Organe</h3>
  <h4>Geschäftsführung</h4>
  <p>Dr. Maria Gabriela Ondrejkovics-Fernandes<br>DI Gernot Kohl, MSc</p>
  <h3>Kontakt</h3>
  <p>Fachhochschule St. Pölten GmbH<br>3100 St. Pölten, Matthias Corvinus-Straße 15<br>Tel.: (+43)/2742/313 228 –
    333<br>Fax: (+43)/2742/313 228 – 339<br>E-Mail: <a href="mailto:csc@fhstp.ac.at">csc@fhstp.ac.at</a></p>
  <h3>Gegenstand des Unternehmens</h3>
  <p>Die Vorbereitung und Durchführung von Fachhochschul-Studiengängen und der Betrieb einer Fachhochschule in St.
    Pölten mit mehreren Fachhochschulstudiengängen, all dies nach den Zielen und leitenden Grundsätzen von
    Fachhochschulstudiengängen im Sinne des § 3 FHStG. Die Erbringung von Dienstleistungen in Bereichen, in denen die
    Gesellschaft forschend und lehrend tätig ist, an Dritte, die Veranstaltung von Aus- und Fortbildungslehrgängen, der
    Betrieb eines Studierendenheimes und einer Studierendenmensa. Innerhalb dieser Grenzen ist die Gesellschaft zu allen
    Geschäften und Maßnahmen berechtigt, die zur Erreichung des Gesellschaftszwecks notwendig erscheinen. Die
    Gesellschaft verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne der BAO, ihre Tätigkeit ist nicht
    auf Gewinn ausgerichtet. Die Mittel der Gesellschaft dürfen nur für die Erreichung der gemeinnützigen Ziele der
    Fachhochschule verwendet werden.</p>
  <h3>Gesellschafter/Beteiligungen</h3>
  <p>Gesellschafterinnen der Fachhochschule St. Pölten GmbH sind</p>
  <ul>
    <li>zu 74% die Hochschulen St. Pölten Holding GmbH (FN 467878 g), deren Alleingesellschafterin die <a
        href="http://www.st-poelten.gv.at/Content.Node/index.php">Landeshauptstadt St. Pölten</a> ist, und</li>
    <li>zu 26% das <a href="http://www.noe.gv.at/noe/index.html">Land Niederösterreich</a>.</li>
  </ul>
  <h3>Erklärung über die grundlegende Richtung</h3>
  <p>Förderung und Bewerbung der Fachhochschule St. Pölten sowie Berichterstattung über Themenfelder, welche
    insbesondere im Zusammenhang mit der Lehr- und Forschungstätigkeit jener an der Fachhochschule St. Pölten
    etablierten Studiengänge stehen.</p>
  <h3>Anzuwendende Rechtsvorschriften</h3>
  <ul>
    <li>Mediengesetz</li>
    <li>E-Commerce-Gesetz</li>
    <li>Unternehmensgesetzbuch</li>
    <li>Fachhochschul-Studiengesetz</li>
    <li>Hochschul-Qualitätssicherungsgesetz</li>
  </ul>
  <p>Sämtliche Gesetze sind u.a. zugänglich unter <a href="http://www.ris.bka.gv.at/">http://www.ris.bka.gv.at</a></p>
  <h3>Aufsichtsbehörde</h3>
  <p>im Rahmen des Hochschul-Qualitätssicherungsgesetzes und des Fachhochschul-Studiengesetzes:</p>
  <p>Agentur für Qualitätssicherung und Akkreditierung Austria</p>
  <h3>Kontakt HighLighter highlighter.media.fhstp.ac.at</h3>
  <p>ContractVis Projektleitung: <a href="https://icmt.fhstp.ac.at/team/alexander-rind">Alexander Rind</a></p>
  <h3>Fotos</h3>
  <p><a href="https://www.fhstp.ac.at/de/forschung/projekte/contractvis-der-assistent-fuers-kleingedruckte">ContractVis
      Projekt-Team</a></p>
  <h3>Technische Umsetzung und Support</h3>
  <p>Die technische Betreuung des WWW-Servers www.fhstp.ac.at erfolgt durch die Abteilung IT und Infrastruktur der
    Fachhochschule St. Pölten. Bei technischen Problemen richten Sie Ihre E-Mail bitte an den <a
      href="mailto:webmaster@fhstp.ac.at">Webmaster</a>.</p>
  <h3>Haftung</h3>
  <p>Sämtliche Texte auf der Homepage der Fachhochschule St. Pölten wurden sorgfältig geprüft. Dessen ungeachtet kann
    keine Garantie für die Richtigkeit, Vollständigkeit und Aktualität der Angaben übernommen werden. Eine Haftung der
    Fachhochschule St. Pölten wird daher ausgeschlossen. Die Links zu anderen Webseiten wurden sorgfältig ausgewählt. Da
    die Fachhochschule St. Pölten auf deren Inhalt keinen Einfluss hat, übernimmt die Fachhochschule St. Pölten dafür
    keine Verantwortung.<br><br>© Das Copyright liegt bei der Fachhochschule St. Pölten bzw. den jeweiligen AutorInnen
    der Subseiten.</p>
  <h3>Datenschutz</h3>
  <p>Datenschutzrechtliche Verantwortliche:<br>Fachhochschule St. Pölten GmbH<br> Matthias Corvinus Straße 15<br> 3100
    St. Pölten <br> <a href="mailto:datenschutz@fhstp.ac.at">datenschutz@fhstp.ac.at</a></p>
  <p>Datenschutzbeauftragte/r der Fachhochschule St. Pölten GmbH:<br> Urbanek Lind Schmid Reisch Rechtsanwälte OG<br>
    Domgasse 2<br> 3100 St. Pölten <br> <a href="mailto:office.st.poelten@ulsr.at">office.st.poelten@ulsr.at</a></p>
  <p>Weiterführende Datenschutzhinweise zum gesamten FH St. Pölten Online Angebot finden auf <a
      href="https://www.fhstp.ac.at/de/impressum">https://www.fhstp.ac.at/de/impressum</a>.</p>
  <h3 class="">Nutzung der Website</h3>
  <p>Schon bei jedem Besuch und jeder Nutzung unserer Homepage speichern wir folgende Daten:</p>
  <ul>
    <li>IP-Adresse</li>
    <li>Datum und Uhrzeit der Anfrage</li>
    <li>angesteuerte Unterseite auf unserer Webseite</li>
    <li>Art und Version des Browsers</li>
    <li>Benutztes Endgerät</li>
    <li>Betriebssystem</li>
    <li>Referrer URL</li>
  </ul>
  <p>Zweck dieser Datenverarbeitung ist die Aufrechterhaltung unseres Webauftritts, insbesondere eine schnellere
    Fehlerlokalisierung und -behebung sowie die Überwachung der Auslastung und gegebenenfalls Vornahme von Anpassungen
    oder Verbesserungen. Sofern überhaupt ein Personenbezug gegeben ist, stellen die zu gewährende Datensicherheit und
    das Aufrechterhalten der Online-Darstellung unsere berechtigten Interessen iSd Art 6 Abs 1 lit f DS-GVO und damit
    die Rechtsgrundlage dar. Die Daten (mit Ausnahme der IP-Adresse) werden nur für eine begrenzte Dauer gespeichert und
    ein Personenbezug ist aus diesen Daten nicht herstellbar ist, weil die zugehörige IP-Adresse gelöscht oder zumindest
    anonymisiert wird. Die IP-Adresse Ihres Computers wird ebenfalls nur für die Zeit Ihrer Nutzung der Website
    gespeichert und im Anschluss daran gelöscht oder durch Kürzung anonymisiert. Lediglich im Falle von Hacking
    Angriffen oder ähnliches, kann eine längere Speicherung notwendig sein, um die Funktionsfähigkeit und die Sicherheit
    unseres Webauftritts zu gewährleisten. Eine Übermittlung Ihrer Daten an Dritte findet nicht statt.</p>
  <h3 class="">Nicht-Einsatz von Cookies, Webanalysedienste usw. in ContractVis HighLighter</h3>
  <p>In der <a href="https://highlighter.media.fhstp.ac.at/">HighLighter web app</a> werden keine Cookies
    oder Webanalysedienste wie Google Analytics eingesetzt. Auch die Zugriffe im HighLighter Backend werden nicht
    getrackt.</p>
  <h3 class="">Sonstige Betroffenenrechte</h3>
  <p>Weiters haben Sie folgende Rechte: </p>
  <ul>
    <li>Recht auf Auskunft über die betreffenden personenbezogenen Daten</li>
    <li>Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung</li>
    <li>Recht auf Datenübertragbarkeit</li>
    <li>Recht auf Widerspruch</li>
  </ul>
  <p>Diese Rechte können Sie bei der Fachhochschule St. Pölten GmbH als verantwortliche Datenverarbeiterin geltend
    machen. <a href="https://datenschutz.fhstp.ac.at/">Bitte verwenden Sie dazu dieses Formular</a>. </p>
  <ul>
    <li>Recht auf Beschwerde, welche bei der österreichischen Datenschutzbehörde, E-Mail: <a
        href="mailto:dsb@dsb.gv.at">dsb@dsb.gv.at</a> als zuständige Aufsichtsbehörde einzubringen ist.</li>
  </ul>
  <p>Sollten Sie noch zusätzliche Fragen oder Anregungen haben, können Sie uns jederzeit per E-Mail kontaktieren: <a
      href="mailto:datenschutz@fhstp.ac.at">datenschutz@fhstp.ac.at</a></p>

</div>
