<!-- HEADER COMPONENT -->
<app-header></app-header>

<!-- REST OF LAYOUT -->
<router-outlet></router-outlet>

<!-- FOOTER COMPONENT -->
<app-footer></app-footer>

<!-- IMPORTANT!!!! LEAVE THIS-->
<input type="text" id="data1" class="totallyHidden" (input)="onInputData($event)">
<input type="text" id="data2" class="totallyHidden" (input)="onInputData($event)">

<!-- Fancy loader-->
<div *ngIf="loading" class="loader">
  <div class="face face1">
    <div class="circle"></div>
  </div>
  <div class="face face2">
    <div class="circle"></div>
  </div>
</div>
