.tagWrapper {
    display: inline;
}

.spanTags {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.1em;
    -webkit-box-shadow: 2px 2px 8px 2px #BEBEBE;
    box-shadow: 2px 2px 8px 2px #BEBEBE;
}

.specialTags {
  padding: 4px;
  margin-left: 4px;
}
