
.contentParent {
    display: flex;
}

.textContainer {
    width: 75%;
    height: 800px;
    word-break: keep-all;
    white-space: pre-wrap;
    margin-bottom: 8%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.textOverview {
    width: 15%;
    height: 800px;
    background: white;
}

span {
  border-radius: 3px;
}
