.contentParent {
    display: flex;
}

.containerAlt {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: auto;
    margin-left: auto;
}

.textContainer {
    width: 75%;
    height: 720px;
    word-break: keep-all;
    white-space: pre-wrap;
    margin-bottom: 8%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    overflow: hidden;
}

.textOverview {
    width: 15%;
    height: 720px;
    background: white;
}

.textOverview rect.x-none {
    fill: #777;
}

.filterSection {
    min-height: 140px;
    height: 100%;
    margin: -20px 0 30px 0;
    padding: 5px 25px 5px 25px;
    overflow: auto;
}

span {
    border-radius: 3px;
}
