<div class="containerAlt">
  <div class="row">
    <div class="col-md-12 filterSection">
      <p>Filter:</p>
    </div>
  </div>

  <div class="row">
    <div [className]="isComparison ? 'col-md-6' : 'col-md-12'">
      <span>Origin: <strong>{{ firstWebsiteName }}</strong></span>
    </div>
    <div [hidden]="!isComparison" class="col-md-6">
      <span>Origin: <strong>{{ secondWebsiteName }}</strong></span>
    </div>
  </div>

  <div class="row">
    <div [className]="isComparison ? 'col-md-6' + ' contentParent' : 'col-md-12' + ' contentParent'">
      <svg #dataOverview id="dataOverview" class="textOverview"></svg>
      <div #dataContainer class="textContainer"></div>
    </div>
    <div [hidden]="!isComparison" class="col-md-6 contentParent">
      <div #dataContainer2 class="textContainer"></div>
      <svg #dataOverview2 id="dataOverview2" class="textOverview"></svg>
    </div>
  </div>
</div>
